.shop {
  width: 100px;
  border: solid red 2px;
  display: flex;
}

.base {
  height: 70px;
  width: 70px;
  border: 1px solid transparent;
  border-radius: 30%;
  position: relative;
  margin-left: 40px;
  top: -10px;
}

.indicator {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  background-color: #ff5f5f;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  margin-left: 70%;
  width: 50px;
  height: 40px;
}

.noti_count {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-weight: 700;
  position: relative !important;
}

.modal {
  display: block !important;
  position: relative !important;
  width: 300px !important;
  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  text-align: left;
  height: auto !important;
}

.xSymbol {
  width: 10px;
  font-size: 10px;
}

.container_modal {
  display: flexbox;
  justify-content: end;
}

.container_modal button {
  font-size: 1vh;
  color: black;
}

@media (max-width: 768px) {
  .base {
    display: none;
  }
}