

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px ; 
}

.container_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: auto;
  box-sizing: border-box;
  
}

.container_list img {
  width: 340px;


}

.container_list div {
  padding: 0.5% !important;
  width: auto !important;
}

.container_list_box-background {
  text-align: center;
  
}
.container_list_box-background div {
  background-color:  #AEBDCA;
}

body {
  background-color:#7895B2 !important;
}

.container_list-rate {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}

.container_list-rate img {
  width: 30px;
}

.container_list_follow div {
  width: 10px;
  height: 2%;
  border-radius: 20px;
  background-color: #F5EFE6;
  color:black;
  cursor: pointer;
  position: relative;
}

.container_list-youtube {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.container_list-youtube img {
  width: 100px;
  cursor: pointer;
}

.container-spinner {
 display: flex;
justify-content: space-between;
margin-left: 34%;
margin-right: auto;
}

.container-spinner button {
  width: 500px;
  background-color: #FF9494;
}

.btn {
  background-color: #F5EFE6 !important;
  border: none;
  color:black;
}


#btn_show-limit {
  background-color: F5EFE6 !important;
 width: 50%;  
  height: auto;
  margin-bottom: 2%;
}


.container-show-limit-btn {
  display: flex !important;
  justify-content: space-between;
}