body {
  background-color: #222831 ;
  margin: 0;
  padding: 0;
}

.movie-detail-card {
  background-color: #444;
  color: white;
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

.movie-content {
  background-color: #7895B2;
  padding: 20px;
  margin-bottom: 20px;
}

.movie-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.movie-poster {
  width: 300px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
  margin: 0 auto; 
}

.movie-description {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.additional-info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.additional-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.container_reviews {
  border: solid 2px #7895B2;
  border-radius: 10px;
  margin-top: 1%;
}

.container_reviews div {
  padding: 10px;
}

.container_reviews-user {
  border-bottom: 1px solid #F5EFE6;
  display: flex;
  justify-content: space-between;
}

.container_reviews-user img {
  width:  70px;
  border-radius: 20px;
  border: dotted 3px#7895B2 ;
}

.container_reviews {
  display: flexbox;
  justify-content: space-between !important;
}

.container-comments_length {
  cursor: pointer;
}

#btn_add-review {
  margin-top: 1%;
}
